.card {
  display: flex;
  flex-flow: column;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card:hover {
  cursor: pointer;
}

.card img {
  align-self: center;
  margin-top: 1em;
  width: 150px;
  height: 150px;
  border-radius: 75px;
}

.info {
  padding: 10px;
}

.info h2 {
  margin-top: 0;
  margin-bottom: 5px;
}

.info p {
  margin: 0;
}
