.container {
  display: flex;
  width: 100%;
  height: 100vh;
}

.leftSection {
  width: 25%;
  padding: 1em;
  display: flex;
  justify-content: center;
}

.rightSection {
  width: 75%;
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.episodeCount {
  flex: 1;
  max-height: 2em;
  display: flex;
  align-items: center;
}

.episodeCount,
.episodeList {
  border: 0.0625em solid #ddd;
  border-radius: 0.5em;
  padding: 1em;
}
